<!DOCTYPE html>
<html lang="en">
<head>
  {# Load the tag library #}
  {% load bootstrap3 %}

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}

    <link rel="stylesheet" href="{% static 'events/style.css' %}"  />
    <title>{% block title %}Game Night{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
          {% if user.is_authenticated %}
            <li>{{ user.username }}</li>
            <li><a href="/events/logout">Logout</a></li>
          {% else %}
            {% include "events/form_login.html" %}
            <li><a href="/events/signup">Sign Up</li>
          {% endif %}
          <li><a href="/">Home</a></li>
          <li><a href="/events/">Events</a></li>
        </ul>
        {% endblock %}
    </div>
    
	<div class="content">
    <div class="container">

        {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>
