{% extends "events/base.html" %}

{% block content %}
<section class="event">
<div class="row centered" style="background-color:#a8c7f4">
	<div class="col">
		<h1>Event Name: {{ event.name }}</h1>
		<h4>You are {{ status }}</h4>
	  <h5>
			<form method="post" action="{% url 'events:changeStatus' event.id %}">
				{% csrf_token %}
				{{ form.status }}
				<input type="submit" class="btn btn-primary" value="Change Status" />
			</form>
		</h5>
	</div>
</div>
<div class="row centered">
	<div class="col-md-6 col">
		<h4>Date and Time</h4>
		<h5> {{ event.occuring }}</h5>
	</div>
<div class="col-md-6 col">
	  <h4>Hosted by</h4>
		<h5>{{ event.owner }}</h5>
	</div>
</div>
<div class="row centered" style="background-color:#e4e4e4">
	<div class="col-md-6 col">
	  <h4>Location</h4>
		<h5>{{ event.location }}</h5>
	</div>
	<div class="col-md-6 col">
		<h4>Invited</h4>
	  <ul>
	  {% for status in members %}
	      <p>{{ status.player }} ({{ status.status }})</p>
	  {% endfor %}
	  </ul>
	</div>
</div>
<div class="row centered">
	<div class="col">
		<h4>Description</h4>
	  <h5>{{ event.description }}</h5>
	</div>
</div>
<div class="row centered" style="background-color:#e4e4e4">
	<div class="col">
		<h4>Games</h4>
		<h5>
			<form method="post" action="{% url 'events:addGame' event.id %}">
				{% csrf_token %}
				{{ gameform.name }}
				<input type="submit" class="btn btn-primary" value="Add Game" />
			</form>
		</h5>
		<ul>
		  {% for game in games %}
		      <p>{{ game.name }}</p>
		  {% endfor %}
	  </ul>
	</div>
</div>
</section>

{% endblock %}
