{% extends "events/base.html" %}

{% block content %}
	<h1>{{ event.title }}</h1>
	<h2>{{ event.occuring }}</h2>
  <h3>{{ event.owner }}</h3>
  <p>{{ event.location }}</p>
  <br>
  <p>{{ event.description }}</p>
  <h4>Invited</h4>
  <ul>
  {% for person in members %}
      <li>{{ person }}</li>
  {% endfor %}
  </ul>
{% endblock %}


name = models.CharField(max_length=200)
location = models.CharField(max_length=200)
description = models.TextField()
owner = models.ForeignKey(Player, on_delete=models.CASCADE, related_name='owner')
member = models.ManyToManyField(Player, related_name='member')
occuring = models.DateTimeField(auto_now=False, auto_now_add=False)
