{% extends "events/base.html" %}

{% block content %}
	<h1>{{ event.name }}</h1>
	<h4>Date and Time: {{ event.occuring }}</h4>
  <h5>Hosted by: {{ event.owner }}</h5>
  <h5>Location: {{ event.location }}</h5>
  <p>{{ event.description }}</p>
  <h4>Invited</h4>
  <ul>
  {% for person in members %}
      <li>{{ person }}</li>
  {% endfor %}
  </ul>
{% endblock %}


name = models.CharField(max_length=200)
location = models.CharField(max_length=200)
description = models.TextField()
owner = models.ForeignKey(Player, on_delete=models.CASCADE, related_name='owner')
member = models.ManyToManyField(Player, related_name='member')
occuring = models.DateTimeField(auto_now=False, auto_now_add=False)
