{% extends "events/base.html" %}

{% block content %}


	<h1>Dashboard</h1>
	<hr/>


	<a class="btn btn-primary" href="{% url 'events:createEvent' %}">Create Event</a>
	<hr/>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Hosted Events</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for event in hosting %}
			<tr>
				<td>
					<p><a href="{% url 'events:eventShow' event_id=event.id %}">{{ event.name }}</a></p>
				</td>
				<td><p>{{ event.occuring }}</p></td>
			</tr>
			{% endfor %}
		</tbody>
		<thead class="thead-dark">
			<th scope="col">Upcoming Events</th>
			<th scope="col"></th>
		</thead>
		<tbody>
			{% for event in invited %}
				<tr>
					<td>
						<p><a href="{% url 'events:eventShow' event_id=event.id %}">{{ event.name }}</a></p>
					</td>
					<td><p>{{ event.occuring }}</p></td>
				</tr>
			{% endfor %}
		</tbody>
		<thead class="thead-dark">
			<tr>
				<th scope="col">Friends</th>
				<th scope"col"></th>
			</tr>
		</thead>
		<tbody>
			{% for friend in friends %}
			<tr>
				<td><p>{{ friend }}</p></td><td></td>

			</tr>
			{% endfor %}
		</tbody>

	</table>
	<form method="post" action="{% url 'events:friendRequest' %}">
		{% csrf_token %}
		<p>{{ form.friend.label_tag }}
		{{ form.friend }}</p>
		<p>{{ form.efriend.label_tag }}
		{{ form.efriend }}</p>
		<p><input type="submit" class="btn btn-primary" value="Send Request" /></p>
	</form>
	{% if has_frequests %}
		<form method="post" action="{% url 'events:acceptFRequest' %}">
			{% csrf_token %}
			<p>{{ frequests.requests.label_tag }}
			{{ frequests.requests }}</p>
			<p><input class="btn btn-primary" type="submit" value="Submit" /></p>
		</form>
	{% endif %}

{% endblock %}
